.root {
  display: flex;
  justify-content: space-around;
  width: 300px;
  margin: 0 auto;
  padding-bottom: 30px;
  li {
    display: inline-flex;

    a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid orange;
      cursor: pointer;
      transition: 0.15s;
      &:hover {
        background-color: orange;
        color: #fff;
      }
    }
  }
  :global {
    .selected {
      a {
        background-color: orange;
        color: #fff;
      }
    }
  }
}
